* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* flex */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    border: 1px solid black;
    margin: 12px;
    gap: 12px 20px;
}
.flex-item {
    flex: 0 1 350px;
    background-color: blanchedalmond;
    color: #1a1a1a;
    text-align: center;
    padding: 16px;
    border: 1px solid brown;
    float: left;
}
.flex-item:nth-child(3) {
    background-color: blue;
    color: white;
    order: -1;
    align-self: center;
}
.flex-item:first-child {
    background-color: aqua;
}
.flex-item:last-child {
    background-color: black;
    color: white;
}

/* grid */
.grid {
    margin: 6px;
    border: 3px solid red;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 300px);
    /* grid-template-areas:
        "a a a a d d"
        "b b b b d d"
        "c c f f e e"; */
    gap: 12px 12px;
    justify-items: stretch;
    align-items: stretch;
}
.grid-item {
    padding: 20px;
    border: 1px solid brown;
    text-align: center;
}
/* .grid-item:first-child {
    grid-area: a;
}
.grid-item:last-child {
    grid-area: e;
}
.grid-item:nth-child(2) {
    grid-area: b;
}
.grid-item:nth-child(6) {
    grid-area: d;
} */

.box {
    margin: 20px;
    border: 4px solid blue;

    position: relative;
}
.inner-box {
    width: 400px;
    height: 100px;
    background-color: blanchedalmond;
    border: 3px double black;
    position: relative;

    top: 10px;
    left: 20px;
}
.second-inner {
    width: 200px;
    height: 150px;
    background-color: orange;
    border: 2px dashed black;

    position: absolute;
    top: 10px;
    left: 80px;
}
.another-box {
    /* margin: 20px; */
    border: 4px solid darkmagenta;
    /* position: fixed; */
    background-color: beige;

    top: 0;
    left: 0;
    width: 100%;
}
.another-box .second-inner {
    background-color: aquamarine;
}
.section {
    display: flex;
    align-items: flex-start;
    border: 2px solid violet;
    margin: 20px 0;
    /* position: relative; */
}
.main {
    flex: 0 0 65%;
    background-color: #f5f9f5;
    border-right: 2px solid black;
}
.aside {
    flex: 1 1 auto;
    background-color: cornsilk;
    padding: 20px;
    position: sticky;
    top: 10px;
}