@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

/* flex */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    border: 1px solid black;
    margin: 12px;
    gap: 12px 20px;
}
.flex-item {
    flex: 0 1 350px;
    background-color: blanchedalmond;
    color: #1a1a1a;
    text-align: center;
    padding: 16px;
    border: 1px solid brown;
    float: left;
}
.flex-item:nth-child(3) {
    background-color: blue;
    color: white;
    order: -1;
    align-self: center;
}
.flex-item:first-child {
    background-color: aqua;
}
.flex-item:last-child {
    background-color: black;
    color: white;
}

/* grid */
.grid {
    margin: 6px;
    border: 3px solid red;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 300px);
    /* grid-template-areas:
        "a a a a d d"
        "b b b b d d"
        "c c f f e e"; */
    gap: 12px 12px;
    justify-items: stretch;
    align-items: stretch;
}
.grid-item {
    padding: 20px;
    border: 1px solid brown;
    text-align: center;
}
/* .grid-item:first-child {
    grid-area: a;
}
.grid-item:last-child {
    grid-area: e;
}
.grid-item:nth-child(2) {
    grid-area: b;
}
.grid-item:nth-child(6) {
    grid-area: d;
} */

.box {
    margin: 20px;
    border: 4px solid blue;

    position: relative;
}
.inner-box {
    width: 400px;
    height: 100px;
    background-color: blanchedalmond;
    border: 3px double black;
    position: relative;

    top: 10px;
    left: 20px;
}
.second-inner {
    width: 200px;
    height: 150px;
    background-color: orange;
    border: 2px dashed black;

    position: absolute;
    top: 10px;
    left: 80px;
}
.another-box {
    /* margin: 20px; */
    border: 4px solid darkmagenta;
    /* position: fixed; */
    background-color: beige;

    top: 0;
    left: 0;
    width: 100%;
}
.another-box .second-inner {
    background-color: aquamarine;
}
.section {
    display: flex;
    align-items: flex-start;
    border: 2px solid violet;
    margin: 20px 0;
    /* position: relative; */
}
.main {
    flex: 0 0 65%;
    background-color: #f5f9f5;
    border-right: 2px solid black;
}
.aside {
    flex: 1 1 auto;
    background-color: cornsilk;
    padding: 20px;
    position: sticky;
    top: 10px;
}

/* website */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.navbar {
    background-color: #2e323f;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.main-nav > li > a {
    display: inline-block;
    padding: 12px 16px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-size: 18px;
}
.brand-logo > a {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}
.hero {
    background-color: #3B4050;
}
.hero-container {
    padding: 4rem 0;
    display: flex;
    align-items: flex-end;
}
.hero-container > h1 {
    font-size: 90px;
    color: white;
    flex: 0 0 45%;
    line-height: 1;
    margin: 0;
}
.hero-container > h1 > span {
    color: #a59678;
    font-family: 'Oswald', sans-serif;
}
.hero-right {
    padding: 0 2rem;
}
.hero-right > p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.6;
}
.hero-right > button {
    padding: 0.7em 1.5em;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    border-radius: 50px;
    background-color: #a59678;
    color: white;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    border: 1px solid #a59678;
    text-transform: uppercase;
}
.services {
    background-color: rgba(241, 241, 241, 1);
    padding: 4em 0;
}
.services-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2em;
}
.services-container > div {
    text-align: center;
}
.services-container > div > h3 {
    color: #a59678;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 1em;
    font-size: 30px;
}
.services-container > div > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.gallery {
    padding: 4em 0;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.title {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 24px;
    color: #a59678;
}
.gallery-left {
    flex: 0 0 65%;
}
.gallery-left p {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}
.gallery-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.gallery-right > div {
    background: #3b4050;
    padding: 2em 3em;
    text-align: center;
}
.gallery-right > div > h3 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 20px;
    color: white;
}
.gallery-right > div > p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(241, 241, 241, 1);
}
.footer {
    background-color: #3B4050;
    padding: 4em 0;
}
.footer-title {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
}
.footer-grid {
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
    gap: 30px;
}
.footer-grid h4 {
    font-size: 21px;
    color: #a59678;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 20px;
}
.footer-grid p {
    font-size: 16px;
    color: rgba(241, 241, 241, 0.5);
    font-family: 'Montserrat', sans-serif;
}
.footer-grid ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    color: rgba(241, 241, 241, 0.5);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-grid a {
    font-size: 16px;
    color: rgba(241, 241, 241, 0.5);
    font-family: 'Montserrat', sans-serif;
}
/* media queries */
